extends layout/main.pug


include ../blocks/sCatalog/_sCatalog.pug 

block variables
	- let  mainPage= null
block title
	- let  title= 'Passionality'
	title= title
block pagecontent 
	+header()
		+topLine() 
		+top-nav()
	+headerBlock()
	.container
		+sCatalog()
			+catalogName('НОВИНКИ')
			.row
				.col-6.col-lg-3
					+catalogItem('catalog-1','Туалетная вода Trussardi My Land','2900 руб.')
				.col-6.col-lg-3
					+catalogItem('catalog-2','Туалетная вода Trussardi My Land','2900 руб.')
				.col-6.col-lg-3
					+catalogItem('catalog-3','Туалетная вода Trussardi My Land','2900 руб.')
				.col-6.col-lg-3
					+catalogItem('catalog-4','Туалетная вода Trussardi My Land','2900 руб.')
		+sCatalog(class="sCatalog--hit")
			+catalogName('БЕСТСЕЛЛЕРЫ')
			.row
				.col-6.col-lg-3
					+catalogItem('catalog-1','Туалетная вода Trussardi My Land','2900 руб.')
				.col-6.col-lg-3
					+catalogItem('catalog-2','Туалетная вода Trussardi My Land','2900 руб.')
				.col-6.col-lg-3
					+catalogItem('catalog-3','Туалетная вода Trussardi My Land','2900 руб.')
				.col-6.col-lg-3
					+catalogItem('catalog-4','Туалетная вода Trussardi My Land','2900 руб.')

	+footer()
	