mixin topLine()
	// start topLine
	+b.topLine#topLine&attributes(attributes)
		.container
			+e.head.text-right
				+e.phone(href="tel:+7(978)015-15-33") +7 (978) #[span 015-15-33]
				+e.whatsapp(href="https://wa.me/79780151533" target="_blank")
					img.res-i(src="img/@2x/whatsapp.png", alt="")
				+e.viber(href="#")
					img.res-i(src="img/@2x/viber.png", alt="")
				+e.phone(href="tel:+7(978)736-19-26") +7 (978) #[span 736-19-26]
			.row.align-items-center
				.col-auto
					+e.logo(href="/")
						img.res-i(src="img/@2x/logo.png", alt="")
				.col-md-auto.order-lg-last
					+e.btnWrap
						+e.favorite(href="#")
							+icon('heart')
							span Избранное
						+e.basket.btn-pink(href="#")
							+icon('basket')
							span Корзина
				+e.col.col-lg
					+b.FORM.searchBlock
						+e.INPUT.input(type="text" placeholder="Поиск товаров")
						+e.BUTTON.btn.btn-transparent(type="button")
							+icon('search')


	// end topLine