mixin mob-mnu()
	//- -
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.toggle-menu-mobile--js.d-lg-none
		span
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+e.logo(href="/")
				img.lazy(src="#" data-src="img/@1x/logo.png", alt="")
			+mnu()
			+e.phone.mt-4.mb-3.d-block(href="tel:+7(978)015-15-33") +7 (978) #[span 015-15-33]
			+e.phone.d-block(href="tel:+7(978)736-19-26") +7 (978) #[span 736-19-26]
			.text-right
	//  мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container
			.d-none.d-lg-block
				+mnu()
					
	// end top-nav