mixin s-filter()
	.s-filter-wrap
		.d-lg-none
			.mobFilter.mb-4.filterBtn-js Фильтр
				img.ml-2(src="img/svg/chevron-down.svg", alt="alt")

		// start s-filter
		mixin in-c2(typ="checkbox", text, name= typ )
			+b.LABEL.custom-input
				+e.INPUT.input(type= typ , name= name)&attributes(attributes)
				+e.SPAN.lab
				if block
					block 
				else
					+e.SPAN.text= text
		+b.s-filter.d-lg-block&attributes(attributes) 
			mixin range(c1, c2)
				.range-wrap.price_slider_amount
					input.range-slider.slider-js(type='text'  data-min= c1  data-max= c2)
					.inputWrap
						label
							+b.INPUT.minus(type="text" readonly) 
						label
							+b.INPUT.plus(type="text" readonly)

			mixin  group(t)
				+e.group
					+e.title.showhide.active= t 
						span
							+icon('chevron-right')
					.showhide-all
						.showhide-all__inner
							block

			+group('Бренды:')
				-
					var list = [
						'Byredo(1)',
						'Cacharel(2)',
						'Calvin Klein(5)',
						'Carolina Herrera(3)',
						'Cerruti(1)',
						'Byredo(1)',
						'Cacharel(2)',
						'Calvin Klein(5)',
						'Carolina Herrera(3)',
						'Cerruti(1)',
					]
				each item in list
					+in-c2("checkbox",item)
			
			+group('Тип:')
				-
					var list = [
						'Духи(1)',
						'Дымка для тела(1)',
						'Одеколон(1)',
						'Парфюмерная вода(75)',
						'Туалетная вода(48)',
						'Духи(1)',
						'Дымка для тела(1)',
						'Одеколон(1)',
						'Парфюмерная вода(75)',
						'Туалетная вода(48)',
					]
				each item in list
					+in-c2("checkbox",item)
			
			+group('Объем:')
				-
					var list = [
						'1 мл пробник(5)',
						'1.5 мл пробник(11)',
						'10 мл миниатюра(4)',
						'10 мл миниатюра',
						'без коробки(2)',
						'10 мл отливант(1)',
						'1 мл пробник(5)',
						'1.5 мл пробник(11)',
						'10 мл миниатюра(4)',
						'10 мл миниатюра',
						'без коробки(2)',
						'10 мл отливант(1)',
					]
				each item in list
					+in-c2("checkbox",item)

			//- +group('Цена:')
				//- +range("450", "12900")
			<div class="showhide-all"><span class="irs js-irs-0 irs-with-grid"><span class="irs"><span class="irs-line" tabindex="-1"><span class="irs-line-left"></span><span class="irs-line-mid"></span><span class="irs-line-right"></span></span><span class="irs-min" style="visibility: hidden;">550  руб.</span><span class="irs-max" style="visibility: visible;">5 777  руб.</span><span class="irs-from" style="visibility: visible; left: -3.71429%;">550  руб.</span><span class="irs-to" style="visibility: visible; left: 66.5715%;">4 534  руб.</span><span class="irs-single" style="visibility: hidden; left: 24.0001%;">550  руб. — 4 534  руб.</span></span><span class="irs-grid" style="width: 93.7143%; left: 3.04286%;"><span class="irs-grid-pol" style="left: 0%"></span><span class="irs-grid-text js-grid-text-0" style="left: 0%; margin-left: -3%;">550</span><span class="irs-grid-pol small" style="left: 20%"></span><span class="irs-grid-pol small" style="left: 15%"></span><span class="irs-grid-pol small" style="left: 10%"></span><span class="irs-grid-pol small" style="left: 5%"></span><span class="irs-grid-pol" style="left: 25%"></span><span class="irs-grid-text js-grid-text-1" style="left: 25%; visibility: visible; margin-left: -4%;">1 857</span><span class="irs-grid-pol small" style="left: 45%"></span><span class="irs-grid-pol small" style="left: 40%"></span><span class="irs-grid-pol small" style="left: 35%"></span><span class="irs-grid-pol small" style="left: 30%"></span><span class="irs-grid-pol" style="left: 50%"></span><span class="irs-grid-text js-grid-text-2" style="left: 50%; visibility: visible; margin-left: -4%;">3 164</span><span class="irs-grid-pol small" style="left: 70%"></span><span class="irs-grid-pol small" style="left: 65%"></span><span class="irs-grid-pol small" style="left: 60%"></span><span class="irs-grid-pol small" style="left: 55%"></span><span class="irs-grid-pol" style="left: 75%"></span><span class="irs-grid-text js-grid-text-3" style="left: 75%; visibility: visible; margin-left: -4%;">4 470</span><span class="irs-grid-pol small" style="left: 95%"></span><span class="irs-grid-pol small" style="left: 90%"></span><span class="irs-grid-pol small" style="left: 85%"></span><span class="irs-grid-pol small" style="left: 80%"></span><span class="irs-grid-pol" style="left: 100%"></span><span class="irs-grid-text js-grid-text-4" style="left: 100%; margin-left: -4%;">5 777</span></span><span class="irs-bar" style="left: 3.14286%; width: 71.4287%;"></span><span class="irs-shadow shadow-from" style="display: none;"></span><span class="irs-shadow shadow-to" style="display: none;"></span><span class="irs-slider from" style="left: 0%;"></span><span class="irs-slider to type_last" style="left: 71.4287%;"></span></span><input class="woof_range_slider irs-hidden-input" id="5f10a5658d8d2" data-taxes="1" data-min="550" data-max="5777" data-min-now="550" data-max-now="5777" data-step="1" data-slider-prefix="" data-slider-postfix="  руб." value="" readonly=""></div>
			+e.discharge.btn.btn-white(type="button") Сбросить фильтры
	// end s-filter